.vagrant
tmp

/kubernetes-setup/certs
/kubernetes-setup/join-command

/services-setup/.terraform
/services-setup/terraform.tfstate
/services-setup/terraform.tfstate.backup
/services-setup/.terraform.tfstate.lock.info
